:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* header */
.logo {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.part-logo {
  color: var(--accent-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.nav-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header-link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* about */
.about {
  background-color: #f5f5f5;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.about-title {
  line-height: 1.36;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.about-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* features */
.features {
  background-color: #f5f5f5;
}
.features-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* our team */

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team-item {
  background-color: #ffffff;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* footer */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}

.footer-address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-link {
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #ffffff99;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);